body {
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    margin: 0;
    padding: 20px;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Rock Salt', cursive, Arial, Helvetica, sans-serif; */
    font-family: 'Mitr', sans-serif;
    overflow-y: scroll; overflow-x: hidden;
}

.container {
    position: relative;
}
.middle-container {
    position: relative;
    /* background-color: rgba(0,0,0,0.65); */

}

.myHeader {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}

h1 {
    /* font-family: 'Rock Salt', cursive, Arial, Helvetica, sans-serif; */
    font-family: 'Permanent Marker', cursive;
    margin-top: 0px;
    color: white;
}
h2, h3{
    color: rgb(116, 149, 250);
}

p {
    position: relative;
    color: lightgray;
    margin: 10px;
}

img {
    display: block;
    
}

#earth {
    position: absolute;
    right: -25%;
    overflow: clip !important;
    width: 1000px;
}

#fake-earth {
    width: 1000px;
    height: 1000px;
    overflow: clip !important;
    float: right;
    margin-right: -20%;
    background-color: black;
    visibility: hidden;
    border-radius: 100%;
}

#moon {
    position: absolute;
    left: 15%;
    top: 40%;
    z-index: -1;
}

#mars {
    position: absolute;
    right: 25%;
    top: 10%;
    width: 50px;

}

#astronaut {
    position: relative;
    margin: auto;
}

#speech {
    position: absolute;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 40%;
    top: -25%;
    right: 100px;
}

#speech-paragraph {
    position: absolute;
    text-align: center;
    top: -20%;
    right: 5%;
    color: black;
    background-color: white;
    max-width: 35%;
    border-radius: 100% 100% 100% 0;
    padding: 35px;
}

#astronaut {
    animation: moveAstronaut 5s 3;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes moveAstronaut {
    0%   {left: 0px; top: 0px;}
    100%  {left: 25px; top: 0px;}
  }