:root {
  --change: 280px;
  --speed: var(--change);
}

body {
  background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  margin: 0;
  padding: 20px;
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Rock Salt', cursive, Arial, Helvetica, sans-serif; */
  font-family: "Mitr", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: slategray;
}

a:hover {
  color: orange;
}

.mainConainer {
  margin-left: 10px;
}

.container {
  position: relative;
  width: 100%;
}
.middle-container {
  position: relative;
}

.myHeader {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

h1 {
  /* font-family: 'Rock Salt', cursive, Arial, Helvetica, sans-serif; */
  font-family: "Permanent Marker", cursive;
  margin-top: 0px;
  color: white;
}
h2,
h3 {
  color: rgb(116, 149, 250);
}

p {
  position: relative;
  color: lightgray;
  margin: 10px;
}

img {
  display: block;
}

#earth {
  position: absolute;
  right: -35%;
  overflow: clip !important;
  width: 1000px;
}

#fake-earth {
  width: 925px;
  height: 1050px;
  overflow: clip !important;
  float: right;
  margin-right: -25%;
  background-color: black;
  visibility: hidden;
  border-radius: 100%;
}

#moon {
  position: absolute;
  left: 20%;
  top: 40%;
  z-index: -1;
}

#mars {
  position: absolute;
  right: 25%;
  top: 10%;
  width: 50px;
}

#astronaut {
  position: relative;
  margin: auto;
}

#speech {
  position: absolute;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  width: 40%;
  top: -25%;
  right: 10%;
}

#speech-paragraph {
  position: absolute;
  text-align: center;
  top: -20%;
  right: 5%;
  color: black;
  background-color: white;
  max-width: 35%;
  border-radius: 100% 100% 100% 0;
  padding: 35px;
}

#astronaut {
  animation: moveAstronaut 4s 2;
  animation-direction: alternate-reverse;

  animation-iteration-count: infinite;
}

#comet {
  position: absolute;

  width: 100px;
  animation: moveComet 2s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#comet-div {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 500px;
  z-index: -1;
}

@keyframes moveComet {
  0% {
    right: -30%;
    top: var(--speed);
  }
  100% {
    right: 100%;
    top: var(--speed);
  }
}

@keyframes moveAstronaut {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 10px;
    top: 0px;
  }
}
